.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  z-index: 10;
  margin-top: 150px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #e60000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
.v-sidebar-menu .vsm-item.first-item.active-item > .vsm-link,
.v-sidebar-menu .vsm-item.first-item.parent-active-item > .vsm-link {
  box-shadow: 3px 0px 0px 0px #e60000 inset !important;
}
.slide-animation-enter-active,
.slide-animation-enter-to {
  background-color: #e60000 !important;
}
.vsm-mobile-bg {
  background-color: #e60000 !important;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 97%;
  background: #1e1e21;
  z-index: 10;
}
#main-container {
  width: 100%;
  margin: 0;
}
#sidebar {
  position: fixed;
}
#sidebar > button {
  display: none;
}
#content {
  margin-left: 2%;
}
#home {
  padding-top: 15%;
}
#header {
  margin-left: 2%;
  height: 10vh;
  position: relative;
  z-index: 10;
}
#header > h1 {
  color: whitesmoke;
  margin-top: 1.5%;
  margin-left: 3%;
  float: left;
}
#header > img {
  float: right;
  width: 10%;
  margin-right: 4%;
}
#celfocus {
  margin-left: 2%;
  height: 10vh;
}
#celfocus > p {
  font-size: 90%;
  color: whitesmoke;
  margin-top: 2%;
  margin-left: 83%;
  float: left;
  opacity: 0;
  animation-name: zoomInLeft, fade;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  animation-duration: 2s;
}
#celfocus > img {
  float: right;
  width: 10%;
  margin-right: 3%;
  margin-top: 2%;
  opacity: 0;
  animation-name: zoomInRight, fade;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  animation-duration: 2s;
}
#home {
  position: relative;
  z-index: 10;
}
#dashboards {
  position: relative;
  z-index: 10;
}
#servers {
  position: relative;
  z-index: 10;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes zoomInLeft {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoomInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.apexcharts-menu-item.exportSVG {
  display: none;
}
#btn {
  float: left;
  margin-left: 4%;
  margin-top: 1%;
}
#topAgents-container {
  background-color: #343f57;
  border-radius: 0%;
}
#topAgents-title {
  font-size: 120%;
}
#topAgents-content {
  max-height: 85.9%;
  background-color: #343f57;
}
.scroll-area {
  position: relative;
  margin: auto;
  width: 100%;
  height: 290px;
}
#topStores-container {
  background-color: #343f57;
  border-radius: 0%;
}
#topStores-title {
  font-size: 120%;
}
#topStores-content {
  max-height: 85.9%;
  background-color: #343f57;
}
.scroll-area {
  position: relative;
  margin: auto;
  width: 100%;
  height: 290px;
}
